<div class="tag-container" id="<%= dom_id tag %>">
  <div class="name">
    <%= tag.name %>
  </div>
  <div class="action">
    <%= link_to I18n.t('general.delete'), tag_path(tag), data: { "turbo-method": :delete } %>
  </div>
</div>
