<h3><%= I18n.t('searches.shared.title') %></h3>

<% if @searches.empty? %>
    <div><span><%= I18n.t('searches.shared.none') %>.</span></div>
<% else %>
    <div id="shared-searches-list">
        <% @searches.each do |s| %>
            <div>
                <%= link_to s.name, search_shared_path(s) %>
            </div>
        <% end %>
    </div>
<% end %>
