/*
 * Icons taken and adapted from: https://github.com/astrit/css.gg.
 */

/*
 * Arrow down.
 */

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    transform: scale(1);
    border: 2px solid transparent;
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: -5px;
    top: 4px
}

/*
 * Arrow up.
 */

.gg-chevron-up {
    box-sizing: border-box;
    position: relative;
    transform: scale(1);
    border: 2px solid transparent;
}
.gg-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: -5px;
    bottom: 4px
}
