/*
 * Icons taken and adapted from: https://github.com/astrit/css.gg.
 */

/*
 * Arrow down.
 */

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    transform: scale(1);
    border: 2px solid transparent;
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: -5px;
    top: 4px
}

/*
 * Arrow up.
 */

.gg-chevron-up {
    box-sizing: border-box;
    position: relative;
    transform: scale(1);
    border: 2px solid transparent;
}
.gg-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: -5px;
    bottom: 4px
}

/*
 * External link.
 */

.gg-external {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 12px;
    box-shadow:
        -2px 2px 0 0,
        -4px -4px 0 -2px,
        4px 4px 0 -2px;
    margin-left: 6px;
    margin-top: 1px
}

.gg-external::after,
.gg-external::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: -4px
}

.gg-external::before {
    background: currentColor;
    transform: rotate(-45deg);
    width: 12px;
    height: 2px;
    top: 1px
}
.gg-external::after {
    width: 8px;
    height: 8px;
    border-right: 2px solid;
    border-top: 2px solid;
    top: -4px
}

.gg-external:hover {
    color: var(--text);
}
