#tag-index h3 span {
    font-size: 1rem;
    vertical-align: middle;
}

#tag-page h3 span {
    font-size: 1rem;
    vertical-align: middle;
}

#tags-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tag-container {
    display: flex;
    align-items: flex-start;

    .name {
        flex-grow: 1;
    }

    .name a {
        text-decoration: none;
        color: var(--text) !important;
    }

    .name a:hover {
        text-decoration: underline;
    }
}

.tag-container .action {
    flex-grow: 0;
}
