.width-100 {
    width: 100%;
}

.center-contents {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

@media only screen and (max-width: 720px) {
    .center-contents {
        grid-template-columns: 1fr;
    }
}

.flex-list {
    display: flex;
    align-items: start;
    gap: 10px 20px;
    flex-wrap: wrap;
}

.flex-wrap {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.hidden {
    display: none !important;
}
